<form action="padarias/gravar">
	Nome:
	<input type="text" name="Padaria[nome]">
	Endereco:
	<input type="text" name="Padaria[endereco]">
	Especialidade:
	<input type="text" name="Padaria[especialidade]">
	<input type="submit" name="submit"/>
</form>
